{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
    <div>
        <form action="/" method="POST" style="padding-left: 20px; font-size: 14px;">
            <input autocomplete="on" class="w-auto" id="search" name="search" placeholder="Location" type="text">
            <input type="submit" value="Search"></button>
        </form>
    </div>
    <h3>
        Hourly weather for {{ address }}
    </h3>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');

        Chart.defaults.backgroundColor = '#76ABAE';
        Chart.defaults.borderColor = '#76ABAE';
        Chart.defaults.color = '#76ABAE';

        new Chart(ctx, {
            data: {
                labels: {{ web_times | tojson | safe }},
                datasets: [{
                    type: 'line',
                    label: 'Hourly Temperature',
                    data: {{ web_temps | tojson | safe }},
                    borderWidth: 1
                }, {
                    type: 'bar',
                    label: 'Precipitation Chance',
                    data: {{ web_precips | tojson | safe }},
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                    beginAtZero: true,
                    max: 100
                    }
                }
            }
        });
    
    </script>
    <!--
    <div>
        {{ address }} <br>
        {{ web_temps }} <br>
        {{ web_times }} <br>
        {{ web_precips }}
    </div>
    -->
{% endblock %}

