{% extends "layout.html" %}

{% block title %}
    LowTemp
{% endblock %}

{% block main %}
    LowTemp
    <div>
        <form action="/" method="POST" style="padding-left: 20px; font-size: 14px;">
            <input autocomplete="on" class="w-auto" id="search" name="search" placeholder="Location" type="text">
            <input type="submit" value="Search"></button>
        </form>
    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
        const ctx = document.getElementById('myChart');

        Chart.defaults.backgroundColor = '#9BD0F5';
        Chart.defaults.borderColor = '#36A2EB';
        Chart.defaults.color = '#000';
        
        new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ web_times | tojson | safe }},
                datasets: [{
                    label: 'Hourly Temperatures',
                    data: {{ web_temps | tojson | safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                    beginAtZero: true
                    }
                }
            }
        });
    
    </script>
    <div>
        {{ address }} <br>
        {{ web_temps }} <br>
        {{ web_times }} <br>
        {{ web_precips }}
    </div>
{% endblock %}

